@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-29d5eb');
	src:url('../fonts/icomoon.eot?#iefix-29d5eb') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg?-29d5eb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

a {color: #F6F6F6;}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {content: "\e600";}
.icon-github2:before {content: "\e601";}
.icon-github3:before {content: "\e602";}
.icon-github4:before {content: "\e603";}
.icon-github5:before {content: "\e604";}

.display-none {display: none}
.block {display: block;}
.left {float: left;}
.right {float: right;}
.align-center {text-align: center}

body {
	background-color: #F6F6F6;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

header {
	background-color: #72441E;
	height: 60px;
	line-height: 60px;
}

header h1 {
	font-size: 40px;
	padding-left: 20px;
}

h1 a {
	text-decoration: none;
}

.available-link {
	padding-right: 20px;
}

.container {
	position: absolute;
	top: 0;
	left: 15%;
	width: 70%;
	box-shadow: 5px 5px #C0C0C0;
	color: #F6F6F6;
	padding: 0 0 0 0;
}

.stripe {
	min-height: 40px;
}

.list-container {
	padding: 0 20px;
}

.list-container h3 {
	padding: 5px 0 7px 0;
	font-size: 20px;
}

.user-list {
	/*padding: 10px 0;*/
}

.user-list li {
	position: relative;
	display: inline-block;
	min-height: 100px;
	padding: 10px;
	width: 95px;
	overflow-x: hidden;
}

.user-list .username {
	display: block;
	text-align: center;
	-ms-word-break: break-all;
	word-break: break-all;
    word-break: break-word;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;
}

.user-list .statistics {
	display: block;
	text-align: center;
	margin-top: 2px;
}

.user-list img {
	margin: 0 auto;
	height: 50px;
	display: block;
	border-radius: 50px;
}


.company-list {
	background-color: inherit;
}

.company-list li{
	display: inline-block;
	position: relative;
	background-color: inherit;
	padding-bottom: 20px;
}

.first-level-list-by-follower li .statistics-bar {
	position: relative;
	display: block;
	bottom: 0;
	background-color: #000;
}

.stripe-1 {background-color: #F6F6F6}
.stripe-2 {background-color: #CBCBC1}
.stripe-3 {background-color: #B6AEA1}
.stripe-4 {background-color: #72441E}
.stripe-5 {background-color: #E7512D}




/*USER FORM*/

.user-form-container {
	padding-bottom: 50px;
}

.user-form {
	width: 70%;
	margin: 0 auto;
	height: 100px;
	padding: 50px 0 0 0;
	font-size: 30px;
}

.user-form .icon-github2 {
	float: left;
	padding: 0 4px 0 0;
	font-size: 50px;
}

.user-form input {
	width: 70%;
	height: 40px;
	font-size: 35px;
	float: left;
	color: #E7512D;
}

.user-form .go-button {
	width: 15%;
	font-size: 30px;
	margin-left: 5px;
	display: block;
	float: left;
}

.input-line {
	height: 50px;
	line-height: 50px;
	margin: 20px 0 0 3%;
	width: 94%;
}

/*USER FORM END*/

/*USER BY COMPANY*/
.user-by-company li {
	display: block;
	margin-bottom: 4px;
	padding-bottom: 0;
}

.user-by-company {
	padding: 10px;
	display: none;
	position: absolute;
	background-color: inherit;
	z-index: 2;
	top: 20px;
	box-shadow: 2px 2px;
}

.company-list li:hover *.user-by-company {
	display: block;
}

.user-by-company:hover {
	display: block;
}
/*USER BY COMPANY END*/

/*LOADERS*/

.main-loading-warn {
	position: absolute;
	font-size: 40px;
	top: 50%;
	left: 50%;
	z-index: 2;
	width: 50%;
	margin-left: -25%;
	background-color: #CBCBC1;
}

.main-loading-warn .loader{
	background-image: url("/app/img/loader.gif");
	float: left;
	display: block;
	width: 100px;
	height: 100px;
}

.main-loading-warn .message {
	line-height: 100px;
	padding: 0 10px;
}

.chord-loading-warn {
	font-size: 40px;
	z-index: 2;
	background-color: #CBCBC1;
}

.chord-loading-warn .loader{
	background-image: url("/app/img/loader.gif");
	float: left;
	display: block;
	width: 100px;
	height: 100px;
}

.chord-loading-warn .message {
	line-height: 100px;
	padding: 0 10px;
}

/*LOADERS END*/

.user-data-template {
	padding: 15px 0 15px 0;
}

.main-user-avatar {
	border-radius: 50px;
	height: 100px;
	display: block;
	margin: 0 auto;
}

.user-link {
	display: block;
	width: 100px;
	margin: 0 auto;
}

.user-data-template .username {

	display: block;
	text-align: center;
	margin: 5px 0 5px 0;
}

.user-data-template .statistics {
	display: block;
	text-align: center;
	margin-bottom: 3px;
}

.explanation {
	padding: 20px;
	font-size: 20px;
	line-height: 25px;
}

.explanation p {
	margin-bottom: 5px;
}

/* chordGraph */
path.arc {
  cursor: move;
  fill: #fff;
}

.node {
  font-size: 10px;
}

.node:hover {
  fill: #1f77b4;
}

.link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
}

.link.source, .link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.node.target {
  fill: #d62728 !important;
}

.link.source {
  stroke: #d62728;
}

.node.source {
  fill: #2ca02c;
}

.link.target {
  stroke: #2ca02c;
}

/* chordGraph end */


@media screen and (max-width: 980px) {
	body {
		/*font-size: 10px;*/
	}

	header {
		overflow: auto;
		height: auto;
	}
	.container {
		width: 100%;
		left: 0;
	}

	.user-form {
		width: 100%;
		font-size: 20px;
	}

	.user-form input {
		font-size: 20px;
		width: 50%;
	}

	.user-form .go-button {
		font-size: 20px;
		height: 48px;
	}

	.icon-github2 {
		margin-left: 10%;
	}
}