@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-29d5eb');
	src:url('../fonts/icomoon.eot?#iefix-29d5eb') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg?-29d5eb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

a {
	color: #F6F6F6;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {content: "\e600";}
.icon-github2:before {content: "\e601";}
.icon-github3:before {content: "\e602";}
.icon-github4:before {content: "\e603";}
.icon-github5:before {content: "\e604";}

body {
	background-color: #F6F6F6;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

header {
	background-color: #72441E;
	height: 30px;
	line-height: 30px;
}

.display-none {display: none}

.container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 15%;
	/*margin: 0 auto;*/
	width: 70%;
	box-shadow: 5px 5px #C0C0C0;
	color: #F6F6F6;
	padding: 0 0 20px 0;
}

.stripe {
	min-height: 40px;
}

.user-list li {
	position: relative;
	display: inline-block;
	min-height: 100px;
	padding: 10px;
}

.user-list .username {
	display: block;
	text-align: center;
}

.user-list .statistics {
	display: block;
	text-align: center;
}

.user-list img {
	height: 50px;
	display: block;
	border-radius: 50px;
}

.first-level-list-by-follower {
	position: relative;
}

.first-level-list-by-follower li {
	width: 100px;
	/*background-color: #ccc;*/
}

.first-level-list-by-follower li a {
	/*position: relative;*/
}

.company-list {
	background-color: inherit;
}

.company-list li{
	display: inline-block;
	position: relative;
	background-color: inherit;
}

.first-level-list-by-follower li .statistics-bar {
	position: relative;
	display: block;
	bottom: 0;
	background-color: #000;
}

.main-user-avatar {
	border-radius: 50px;
	height: 100px;
}

.stripe-1 {background-color: #F6F6F6}
.stripe-2 {background-color: #CBCBC1}
.stripe-3 {background-color: #B6AEA1}
.stripe-4 {background-color: #72441E}
.stripe-5 {background-color: #E7512D}

.disclaimer {
	height: 100px;
}

.user-form {
	width: 50%;
	margin: 0 auto;
}

.user-by-company li {
	display: block;
}

.user-by-company {
	padding: 10px;
	display: none;
	position: absolute;
	background-color: inherit;
	z-index: 2;
	top: 20px;
	box-shadow: 2px 2px;
}

.company-list li:hover *.user-by-company {
	display: block;
}

.user-by-company:hover {
	display: block;
}

.main-loading-warn {
	position: absolute;
	font-size: 40px;
	top: 50%;
	left: 50%;
	z-index: 2;
	width: 50%;
	margin-left: -25%;
	background-color: #CBCBC1;
}

.main-loading-warn .loader{
	background-image: url("/app/img/loader.gif");
	float: left;
	display: block;
	width: 100px;
	height: 100px;
}

.main-loading-warn .message {
	line-height: 100px;
	padding: 0 10px;
}


/* chordGraph style*/
path.arc {
  cursor: move;
  fill: #fff;
}

.node {
  font-size: 10px;
}

.node:hover {
  fill: #1f77b4;
}

.link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
}

.link.source, .link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.node.target {
  fill: #d62728 !important;
}

.link.source {
  stroke: #d62728;
}

.node.source {
  fill: #2ca02c;
}

.link.target {
  stroke: #2ca02c;
}