<div style="margin-top:20px; ">
	<span class="test" style="background-color: #F6F6F6; color: #CBCBC1">ARIBA</span>
	<span class="test" style="background-color: #F6F6F6; color: #B6AEA1">ARIBA</span>
	<span class="test" style="background-color: #F6F6F6; color: #72441E">ARIBA</span>
	<span class="test" style="background-color: #F6F6F6; color: #E7512D">ARIBA</span>

	<span class="test" style="background-color: #CBCBC1; color: #F6F6F6">ARIBA</span>
	<span class="test" style="background-color: #CBCBC1; color: #B6AEA1">ARIBA</span>
	<span class="test" style="background-color: #CBCBC1; color: #72441E">ARIBA</span>
	<span class="test" style="background-color: #CBCBC1; color: #E7512D">ARIBA</span>

	<span class="test" style="background-color: #B6AEA1; color: #F6F6F6">ARIBA</span>
	<span class="test" style="background-color: #B6AEA1; color: #CBCBC1">ARIBA</span>
	<span class="test" style="background-color: #B6AEA1; color: #72441E">ARIBA</span>
	<span class="test" style="background-color: #B6AEA1; color: #E7512D">ARIBA</span>

	<span class="test" style="background-color: #72441E; color: #F6F6F6">ARIBA</span>
	<span class="test" style="background-color: #72441E; color: #CBCBC1">ARIBA</span>
	<span class="test" style="background-color: #72441E; color: #B6AEA1">ARIBA</span>
	<span class="test" style="background-color: #72441E; color: #E7512D">ARIBA</span>

	<span class="test" style="background-color: #E7512D; color: #F6F6F6">ARIBA</span>
	<span class="test" style="background-color: #E7512D; color: #CBCBC1">ARIBA</span>
	<span class="test" style="background-color: #E7512D; color: #B6AEA1">ARIBA</span>
	<span class="test" style="background-color: #E7512D; color: #72441E">ARIBA</span>
</div>