<!DOCTYPE html>
<html>
<head>
	<title>FollowInsights - discover some stuff about your Github network</title>
	<link type="text/css" rel="stylesheet" href="/app/css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="/app/css/main.css"/>
</head>
<body>
	<div class="container">
		<header>
			<h1 class="left"><a href="/">FollowInsights</a></h1>
			<span class="right available-link">Available on <a class="" href="https://github.com/rssilva/followInsights">github</a></span>
		</header>
		<section class="">
			<div class="stripe stripe-5 explanation">
				<p>Followinsights was highly inspired on the <a href="https://osrc.dfm.io/">Open Source Report Card</a> by <a href="https://github.com/dfm">Dan Foreman-Mackey</a>.</p>
				<p>Consists in getting the information about the people who are followed by an user and the people followed by they.</p>
				<p>The idea is to find some users that maybe have some interesting code to share and are not followed by the user. It's not about find who is BETTER or MORE POPULAR, it's just about find some CURIOSITIES about the NETWORK where the user is inserted.</p>
			</div>
			<div class="stripe stripe-3 explanation">
				<p>The application uses the dump from the <a href="http://ghtorrent.org/">GHTorrent project</a> and will be outdated in most of the cases.</p>
			</div>
		</section>
		<div class="stripe stripe-4 user-form-container">
			<form class="user-form">
				<span class="block align-center">Github username here</span>
				<div class="input-line">
					<span class="icon-github2"></span>
					<input type="text" placeholder="username" class="username">
					<button class="go-button">GO!</button>
					<input type="submit" style="display: none;"/>
				</div>
			</form>
		</div>
		<footer class="stripe stripe-5"></footer>
	</div>
	<script src="/app/js/lib/jquery.js"></script>
	<script src="/app/js/lib/lodash.js"></script>
	<script src="/app/js/landingPage.js"></script>
</body>
</html>