<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link type="text/css" rel="stylesheet" href="/app/css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="/app/css/main.css"/>
	<style type="text/css">
		span {
			margin: 20px;
			overflow: auto;
			height: 50px;
		}
	</style>
</head>
<body>
	<div class="container">
		<header>
			<h1>Followingsights</h1>
		</header>
		<div style="margin-top:20px; ">
			<span class="test" style="background-color: #F6F6F6; color: #CBCBC1">ARIBA</span>
			<span class="test" style="background-color: #F6F6F6; color: #B6AEA1">ARIBA</span>
			<span class="test" style="background-color: #F6F6F6; color: #72441E">ARIBA</span>
			<span class="test" style="background-color: #F6F6F6; color: #E7512D">ARIBA</span>

			<span class="test" style="background-color: #CBCBC1; color: #F6F6F6">ARIBA</span>
			<span class="test" style="background-color: #CBCBC1; color: #B6AEA1">ARIBA</span>
			<span class="test" style="background-color: #CBCBC1; color: #72441E">ARIBA</span>
			<span class="test" style="background-color: #CBCBC1; color: #E7512D">ARIBA</span>

			<span class="test" style="background-color: #B6AEA1; color: #F6F6F6">ARIBA</span>
			<span class="test" style="background-color: #B6AEA1; color: #CBCBC1">ARIBA</span>
			<span class="test" style="background-color: #B6AEA1; color: #72441E">ARIBA</span>
			<span class="test" style="background-color: #B6AEA1; color: #E7512D">ARIBA</span>

			<span class="test" style="background-color: #72441E; color: #F6F6F6">ARIBA</span>
			<span class="test" style="background-color: #72441E; color: #CBCBC1">ARIBA</span>
			<span class="test" style="background-color: #72441E; color: #B6AEA1">ARIBA</span>
			<span class="test" style="background-color: #72441E; color: #E7512D">ARIBA</span>

			<span class="test" style="background-color: #E7512D; color: #F6F6F6">ARIBA</span>
			<span class="test" style="background-color: #E7512D; color: #CBCBC1">ARIBA</span>
			<span class="test" style="background-color: #E7512D; color: #B6AEA1">ARIBA</span>
			<span class="test" style="background-color: #E7512D; color: #72441E">ARIBA</span>
		</div>

		<section class="stripe stripe-1">
			<p>
				DISCLAIMER
			</p>
		</section>
		<section class="stripe stripe-2">
			<p>
				A lot of out-of-date data
			</p>
		</section>
		<section class="stripe stripe-3">
			<ul class="first-level-list-by-follower"></ul>
		</section>
		<section class="stripe stripe-4">
			<p>DISCLAIMER</p>
		</section>
		<section class="stripe stripe-5">
			<p>DISCLAIMER</p>
		</section>
		<section class="stripe stripe-4 user-form">
			<span>Github username here: </span>
			<span class="icon-github2"></span>
			<span>
				<input type="text" placeholder="username" class="username-input">
				<button class="go-button">GO!</button>
			</span>
		</section>
		<section class="stripe stripe-5">
			<p>DISCLAIMER</p>
		</section>
	</div>
	<script type="text/template" id="followedTemplate">
		<li><img src="' + firstLevelByFollowers[i].avatar_url + '"> ' + firstLevelByFollowers[i].login + '</li>
	</script>
	<script src="/app/js/lib/jquery.js"></script>
	<script src="/app/js/lib/lodash.js"></script>
	<script src="/app/js/landing.js"></script>
</body>
</html>