<!DOCTYPE html>
<html>
    <head>
        <title>Mazah template</title>
        <link rel="stylesheet" type="text/css" href="/app/css/test.css">
    </head>
    <body>
<!-- 
        <ul>
	        {% for user in users %}
	          <li>{{ user.login }}</li>
	        {% endfor %}
        </ul>
         -->
         <h2>
           Flare imports<br>
           hierarchical edge bundling
         </h2>
         <div style="position:absolute;bottom:0;font-size:18px;">tension: <input style="position:relative;top:3px;" type="range" min="0" max="100" value="85"></div>
        <script type="text/javascript" src="/app/js/lib/jquery.js"></script>
        <script type="text/javascript" src="/app/js/lib/d3.min.js"></script>
        <script type="text/javascript" src="/app/js/lib/d3.layout.js"></script>
        <script type="text/javascript" src="/app/js/lib/packages.js"></script>
        <script type="text/javascript" src="/app/js/users.js"></script>
        <script type="text/javascript">

        </script>
    </body>
</html>