<!DOCTYPE html>
<html>
<head>
	<title>FollowInsights - discover some stuff about your Github network</title>
	<link type="text/css" rel="stylesheet" href="/app/css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="/app/css/main.css"/>
</head>
<body>
	<div class="container">
		<header>
			<h1 class="left"><a href="/">FollowInsights</a></h1>
			<span class="right available-link">Available on <a class="" href="https://github.com/rssilva/followInsights">github</a></span>
		</header>
		<section class="">
			<div class="stripe stripe-2 explanation">
				<p>To understand:</p>
				<p>Users on First level - all users followed by the user</p>
				<p>Users on Second level - all users followed by the users on first level</p>
			</div>
			<div class="stripe stripe-3 explanation">
				<p>The application uses the dump from the <a href="http://ghtorrent.org/">GHTorrent project</a> and will be outdated in most of the cases.</p>
			</div>
		</section>
		<div class="user-data"></div>
		<div class="follow-data"></div>
		<div class="company-data"></div>
		<div id="chord-graph" class="chord-graph">
			<div class="loading-warn display-none chord-loading-warn">
				<span class="loader">&nbsp;</span>
				<span class="message"></span>
			</div>
		</div>
		<section class="stripe stripe-4">
			<p>DISCLAIMER</p>
		</section>
		<section class="stripe stripe-5">
			<p>DISCLAIMER</p>
		</section>
		<section class="stripe stripe-5">
			<p>DISCLAIMER</p>
		</section>
		<div class="loading-warn display-none main-loading-warn">
			<span class="loader">&nbsp;</span>
			<span class="message"></span>
		</div>
	</div>
	<script type="text/javascript">
	    var exports = exports || {};
	    exports.username = '{{username}}';
	</script>
	<script type="text/template" id="userTemplate">
		<section class="stripe stripe-5 user-data-template list-container">
			<section>
				<div>
					<a href="<%=user.html_url%>" class="user-link" target="_blank">
						<img class="main-user-avatar" src="<%=user.avatar_url%>">
						<span class="username"> <%= user.login %></span>
					</a>
					<span class="username"> <%= user.name %></span>
				</div>
				<div class="">
					<span class="statistics">followers: <%=user.followers%></span>
					<span class="statistics">following: <%=user.following%></span>
				</div>
			</section>
		</section>
	</script>
	<script type="text/template" id="companysTemplate">
		<section class="stripe stripe-5 list-container">
			<h3>Companys on First Level</h3>
			<ul class="company-list companys-list-first-level">
				<% companys[0].forEach(function (company, val) { %>
					<li>
						<span class="company"><%=company.name%></span>
						<span class="statistics">
							(<%=company.usersLength%>) <%= val != companys[0].length - 1 ? ',' : ''%>
						</span>
						<ul class="user-by-company">
							<% company.users.forEach(function (user) { %>
								<li> <%=user%> </li>
							<% }); %>
						</ul>
					</li>
				<% }) %>
			</ul>
		</section>
		<section class="stripe stripe-4 list-container">
			<h3>Companys on Second Level</h3>
			<ul class="company-list ">
				<% companys[1].forEach(function (company, val) { %>
					<li>
						<span class="company"><%=company.name%></span>
						<span class="statistics">
							(<%=company.usersLength%>) <%= val != companys[1].length - 1 ? ',' : ''%>
						</span>
						<ul class="user-by-company">
							<% company.users.forEach(function (user) { %>
								<li> <%=user%> </li>
							<% }); %>
						</ul>
					</li>
				<% }) %>
			</ul>
		</section>
	</script>
	<script type="text/template" id="followsTemplate">
		<section class="stripe stripe-3 list-container">
			<h3>Most followed by users on First Level</h3>
			<ul class="user-list second-level-list-by-following">
				<% data.followedByUserFollowing.forEach(function (user) { %>
					<li>
						<a href="<%=user.html_url%>" target="_blank">
							<img src="<%=user.avatar_url%>">
							<span class="username"> <%= user.login %></span>
						</a>
						<span class="statistics">(<%=user.followersLength%>)</span>
					</li>
				<% }) %>
			</ul>
		</section>
		<section class="stripe stripe-2 list-container">
			<h3>Most followed on First Level</h3>
			<ul class="user-list first-level-list-by-follower">
				<% data.mostFollowed[0].forEach(function (user) { %>
					<li>
						<a href="<%=user.html_url%>" target="_blank">
							<img src="<%=user.avatar_url%>">
							<span class="username"> <%= user.login %></span>
						</a>
						<span class="statistics">(<%=user.followers%>)</span>
					</li>
				<% }) %>
			</ul>
		</section>
		<section class="stripe stripe-2 list-container">
			<h3>Most followed on Second Level</h3>
			<ul class="user-list second-level-list-by-follower">
				<% data.mostFollowed[1].forEach(function (user) { %>
					<li>
						<a href="<%=user.html_url%>" target="_blank">
							<img src="<%=user.avatar_url%>">
							<span class="username"> <%= user.login %></span>
						</a>
						<span class="statistics">(<%=user.followers%>)</span>
					</li>
				<% }) %>
			</ul>
		</section>
		<section class="stripe stripe-3 list-container">
			<h3>Following more people on First Level</h3>
			<ul class="user-list first-level-list-by-following">
				<% data.mostFollowing[0].forEach(function (user) { %>
					<li>
						<a href="<%=user.html_url%>" target="_blank">
							<img src="<%=user.avatar_url%>">
							<span class="username"> <%= user.login %></span>
						</a>
						<span class="statistics">(<%=user.following%>)</span>
					</li>
				<% }) %>
			</ul>
		</section>
		<section class="stripe stripe-3 list-container">
			<h3>Following more people on Second Level</h3>
			<ul class="user-list second-level-list-by-following">
				<% data.mostFollowing[1].forEach(function (user) { %>
					<li>
						<a href="<%=user.html_url%>" target="_blank">
							<img src="<%=user.avatar_url%>">
							<span class="username"> <%= user.login %></span>
						</a>
						<span class="statistics">(<%=user.following%>)</span>
					</li>
				<% }) %>
			</ul>
		</section>

		<section class="stripe stripe-2 list-container">
			<h3>User on first level with most public repos</h3>
			<ul class="user-list second-level-list-by-following">
				<% data.repos[0].forEach(function (user) { %>
					<li>
						<a href="<%=user.html_url%>" target="_blank">
							<img src="<%=user.avatar_url%>">
							<span class="username"> <%= user.login %></span>
						</a>
						<span class="statistics">(<%=user.public_repos%>)</span>
					</li>
				<% }) %>
			</ul>
		</section>
		<section class="stripe stripe-2 list-container">
			<h3>User on second level with most public repos</h3>
			<ul class="user-list second-level-list-by-following">
				<% data.repos[1].forEach(function (user) { %>
					<li>
						<a href="<%=user.html_url%>" target="_blank">
							<img src="<%=user.avatar_url%>">
							<span class="username"> <%= user.login %></span>
						</a>
						<span class="statistics">(<%=user.public_repos%>)</span>
					</li>
				<% }) %>
			</ul>
		</section>
		<section class="stripe stripe-3 list-container">
			<h3>User on first level with most public gists</h3>
			<ul class="user-list second-level-list-by-following">
				<% data.gists[0].forEach(function (user) { %>
					<li>
						<a href="<%=user.html_url%>" target="_blank">
							<img src="<%=user.avatar_url%>">
							<span class="username"> <%= user.login %></span>
						</a>
						<span class="statistics">(<%=user.public_gists%>)</span>
					</li>
				<% }) %>
			</ul>
		</section>
		<section class="stripe stripe-3 list-container">
			<h3>User on second level with most public gists</h3>
			<ul class="user-list second-level-list-by-following">
				<% data.gists[1].forEach(function (user) { %>
					<li>
						<a href="<%=user.html_url%>" target="_blank">
							<img src="<%=user.avatar_url%>">
							<span class="username"> <%= user.login %></span>
						</a>
						<span class="statistics">(<%=user.public_gists%>)</span>
					</li>
				<% }) %>
			</ul>
		</section>
		<section class="stripe stripe-2 list-container">
			<h3>Older account on first level</h3>
			<ul class="user-list second-level-list-by-following">
				<% data.created[0].forEach(function (user) { %>
					<% if (user) { %>
						<li>
							<a href="<%=user.html_url%>" target="_blank">
								<img src="<%=user.avatar_url%>">
								<span class="username"> <%= user.login %></span>
							</a>
							<% var created = new Date(user.created_at) %>
							<span class="statistics"><%=created.getFullYear()%>/<%=created.getMonth()+1%>/<%=created.getDate()%></span>
						</li>
					<% } %>
				<% }) %>
			</ul>
		</section>
		<section class="stripe stripe-2 list-container">
			<h3>Older account on second level</h3>
			<ul class="user-list second-level-list-by-following">
				<% data.created[1].forEach(function (user) { %>
					<% if (user) { %>
						<li>
							<a href="<%=user.html_url%>" target="_blank">
								<img src="<%=user.avatar_url%>">
								<span class="username"> <%= user.login %></span>
							</a>
							<% var created = new Date(user.created_at) %>
							<span class="statistics"><%=created.getFullYear()%>/<%=created.getMonth()+1%>/<%=created.getDate()%></span>
						</li>
					<% } %>
				<% }) %>
			</ul>
		</section>
	</script>
	<script src="/app/js/lib/jquery.js"></script>
	<script src="/app/js/lib/lodash.js"></script>
	<script type="text/javascript" src="/app/js/lib/d3.js"></script>
    <script type="text/javascript" src="/app/js/lib/d3.layout.js"></script>
    <script type="text/javascript" src="/app/js/lib/packages.js"></script>
    <script src="/app/js/messageModule.js"></script>
	<script src="/app/js/userPage.js"></script>
	<script type="text/javascript">
	function PLOTCHORD () {
		var w = 1000,
		    h = 1000,
		    rx = w / 2,
		    ry = h / 2,
		    m0,
		    rotate = 0;

		var splines = [];

		var cluster = d3.layout.cluster()
		    .size([360, ry - 120])
		    .sort(function(a, b) { return d3.ascending(a.key, b.key); });

		var bundle = d3.layout.bundle();

		var line = d3.svg.line.radial()
		    .interpolate("bundle")
		    .tension(.85)
		    .radius(function(d) { return d.y; })
		    .angle(function(d) { return d.x / 180 * Math.PI; });

		// Chrome 15 bug: <http://code.google.com/p/chromium/issues/detail?id=98951>
		var div = d3.select(".chord-graph").insert("div", "h2")
		    .style("width", w + "px")
		    .style("height", w + "px")
		    //.style("position", "absolute")
		    .style("margin", "0 auto")
		    .style("-webkit-backface-visibility", "hidden");

		var svg = div.append("svg:svg")
		    .attr("width", w)
		    .attr("height", w)
		  .append("svg:g")
		    .attr("transform", "translate(" + rx + "," + ry + ")");

		svg.append("svg:path")
		    .attr("class", "arc")
		    .attr("d", d3.svg.arc().outerRadius(ry - 120).innerRadius(0).startAngle(0).endAngle(2 * Math.PI))
		    .on("mousedown", mousedown);

		(function(classes) {
		  var nodes = cluster.nodes(packages.root(classes)),
		      links = packages.imports(nodes),
		      splines = bundle(links);

		  var path = svg.selectAll("path.link")
		      .data(links)
		    .enter().append("svg:path")
		      .attr("class", function(d) { return "link source-" + d.source.key + " target-" + d.target.key; })
		      .attr("d", function(d, i) { return line(splines[i]); });

		  svg.selectAll("g.node")
		      .data(nodes.filter(function(n) { return !n.children; }))
		    .enter().append("svg:g")
		      .attr("class", "node")
		      .attr("id", function(d) { return "node-" + d.key; })
		      .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; })
		    .append("svg:text")
		      .attr("dx", function(d) { return d.x < 180 ? 8 : -8; })
		      .attr("dy", ".31em")
		      .attr("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
		      .attr("transform", function(d) { return d.x < 180 ? null : "rotate(180)"; })
		      .text(function(d) { return d.key; })
		      .on("mouseover", mouseover)
		      .on("mouseout", mouseout);

		  d3.select("input[type=range]").on("change", function() {
		    line.tension(this.value / 100);
		    path.attr("d", function(d, i) { return line(splines[i]); });
		  });
		})(exports.chordData);

		d3.select(window)
		    .on("mousemove", mousemove)
		    .on("mouseup", mouseup);

		function mouse(e) {
		  return [e.pageX - rx, e.pageY - ry];
		}

		function mousedown() {
		  m0 = mouse(d3.event);
		  d3.event.preventDefault();
		}

		function mousemove() {
		  if (m0) {
		    var m1 = mouse(d3.event),
		        dm = Math.atan2(cross(m0, m1), dot(m0, m1)) * 180 / Math.PI;
		    div.style("-webkit-transform", "translateY(" + (ry - rx) + "px)rotateZ(" + dm + "deg)translateY(" + (rx - ry) + "px)");
		  }
		}

		function mouseup() {
		  if (m0) {
		    var m1 = mouse(d3.event),
		        dm = Math.atan2(cross(m0, m1), dot(m0, m1)) * 180 / Math.PI;

		    rotate += dm;
		    if (rotate > 360) rotate -= 360;
		    else if (rotate < 0) rotate += 360;
		    m0 = null;

		    div.style("-webkit-transform", null);

		    svg
		        .attr("transform", "translate(" + rx + "," + ry + ")rotate(" + rotate + ")")
		      .selectAll("g.node text")
		        .attr("dx", function(d) { return (d.x + rotate) % 360 < 180 ? 8 : -8; })
		        .attr("text-anchor", function(d) { return (d.x + rotate) % 360 < 180 ? "start" : "end"; })
		        .attr("transform", function(d) { return (d.x + rotate) % 360 < 180 ? null : "rotate(180)"; });
		  }
		}

		function mouseover(d) {
		  svg.selectAll("path.link.target-" + d.key)
		      .classed("target", true)
		      .each(updateNodes("source", true));

		  svg.selectAll("path.link.source-" + d.key)
		      .classed("source", true)
		      .each(updateNodes("target", true));
		}

		function mouseout(d) {
		  svg.selectAll("path.link.source-" + d.key)
		      .classed("source", false)
		      .each(updateNodes("target", false));

		  svg.selectAll("path.link.target-" + d.key)
		      .classed("target", false)
		      .each(updateNodes("source", false));
		}

		function updateNodes(name, value) {
		  return function(d) {
		    if (value) this.parentNode.appendChild(this);
		    svg.select("#node-" + d[name].key).classed(name, value);
		  };
		}

		function cross(a, b) {
		  return a[0] * b[1] - a[1] * b[0];
		}

		function dot(a, b) {
		  return a[0] * b[0] + a[1] * b[1];
		}
	}
	</script>
</body>
</html>